
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Dear @Model.HostName </p>
        <p>
            Great news! Your guest has voted for your Come Dine with Macmillan event:
            <br/>
            <br />
            See results {link to poll or if possible, display results in email}
        </p>

        <p>
            <span style="font-weight:bold">What next?</span>

        </p>
        <p>
            <ol>
                <li>Once everyone has voted, it’s time to buy your ingredients!</li>
                <li>Let your guests know the date, time and location for your event</li>
                <li>Start cooking the selected dish for your guests!</li>

            </ol>

        </p>

        <p>
            <span style="font-weight:bold">Don’t forget!</span>
            <br/>
            Donations from your guests on the night

        </p>

        <p>
            Happy cooking and thank you for your support!
        </p>

        <p>
            Macmillan Team 

        </p>
    
    </div>
</body>
</html>
